@media (max-width: 1470px) {
  .title {
    font-size: 180px;
    transform: translate(130px, 30px);
  }

  .header__content-images {
    max-width: 100%;
  }

  .choose-color__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 1350px) {
  .title {
    left: 0;
    right: 0;
    padding-top: 20vh;
    font-size: 140px;
    transform: none;
    text-align: center;
  }

  .title_pod {
    z-index: 1;
  }

  .title_s,
  .title_m,
  .title_ax {
    transform: none;
  }
}

@media (max-width: 930px) {
  .title {
    position: relative;
    padding-top: 0;
    font-size: 100px;
  }

  .title_m {
    padding-left: 15px;
  }
}

@media (max-width: 768px) {
  .main__title {
    font-size: 36px;
  }

  .title {
    font-size: 58px;
  }

  .choose-color {
    padding-bottom: 60px;
  }

  .choose-color__list {
    gap: 16px;
  }

  .composition {
    margin-bottom: 60px;
  }

  .case {
    padding: 60px 0;
  }

  .energy__title {
    margin-bottom: 20px;
    padding-top: 60px;
  }

  .energy__num {
    margin-bottom: 20px;
    font-size: 110px;
  }
}

@media (max-width: 560px) {
  .header__top {
    align-items: flex-start;
  }

  .menu__list {
    flex-wrap: wrap;
    gap: 20px 40px;
  }

  .menu__item:first-child {
    margin-left: auto;
  }

  .menu__item_btn {
    margin-left: auto;
  }

  .menu__item_btn button {
    width: 250px;
  }

  .choose-color {
    padding-bottom: 40px;
  }

  .choose-color__text {
    margin-bottom: 40px;
  }

  .case {
    padding: 40px 0;
  }

  .composition__inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .composition__inner-text p {
    width: 100%;
  }
}

@media (max-width: 414px) {
  .main__title,
  .choose-color__title {
    font-size: 28px;
  }

  .case img {
    max-width: 100%;
  }

  .energy__num {
    font-size: 90px;
  }
}

@media (max-width: 404px) {
  .title {
    font-size: 50px;
  }
}
